@charset "UTF-8";
/*************déclaration des couleurs*************/
/*************déclaration des keyframes************/
@keyframes fade-in-section {
  to {
    opacity: 1;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes altern-pivot {
  0% {
    transform: rotate(-30deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(35deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}
@keyframes decalage-bas {
  from {
    transform: translateY(-90px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes decalage-haut {
  from {
    transform: translateY(180px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes float-cloud {
  0% {
    transform: translate(0, 0);
  }
  15% {
    transform: translate(-2px, -6px);
  }
  25% {
    transform: translate(-5px, -9px);
  }
  50% {
    transform: translate(-12px, -15px);
  }
  75% {
    transform: translate(3px, -6px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes appear-title {
  from {
    transform: translateY(1.5em);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/*************Fin de déclaration des keyframes***********/
main {
  position: relative;
  overflow: hidden;
}

#story,
#characters,
#place {
  padding-top: 6em;
}

#studio {
  margin-top: 5em;
}
#studio div::before {
  padding-top: 6em;
  overflow: hidden;
}
#studio h2::before, #studio h2::after {
  position: absolute;
  top: 1.5em;
}

.story #place {
  background-image: url("../assets/koukaki-place.png");
  width: clamp(393px, 100vw, 1440px);
  min-height: 400px;
  aspect-ratio: 1440/699;
}
.story #place img.clouds {
  position: absolute;
  right: 5vw;
  bottom: 20vw;
  width: clamp(310px, 49.3vw, 620px);
  transform: translateX(0);
}

h3.multi {
  background-position: left;
  justify-content: left;
  padding-left: 0.8em;
}

.banner,
.video-banner {
  width: clamp(393px, 100vw, 1440px);
  min-height: 0px;
  aspect-ratio: 2880/1612;
}

/**********ANIMATION DES SECTIONS AU CHARGEMENT**********/
section.story {
  opacity: 0;
  animation: fade-in-section 0.5s 0.6s ease-in forwards;
}

section#studio {
  opacity: 0;
  animation: fade-in-section 0.5s 1s ease-in forwards;
}

section#oscar {
  opacity: 0;
  animation: fade-in-section 0.5s 1.4s ease-in forwards;
}

/*******************ANIMATION DES FLEURS*****************/
article.story__article::after,
.story h2::after,
#studio h2::after,
#studio h2::before,
footer::before,
footer::after,
.site-footer ul::after,
#oscar::before,
#oscar::after {
  animation: rotation 20s linear infinite;
  transform-origin: center center;
}

/****Centrage pour une rotation des fleurs harmonieuse****/
.story h2::after {
  width: 155px;
  height: 155px;
}

#studio h2::before {
  width: 203px;
  height: 203px;
}
#studio h2::after {
  width: 109px;
  height: 109px;
}

/*****************FIN ANIMATION DES FLEURS***************/
/***********ANIMATION AU CHARGEMENT DE LA PAGE***********/
#primary, p {
  display: inline-block;
  animation: decalage-bas 1s ease-out;
}

.banner img,
.story,
#studio p {
  animation: decalage-haut 1s ease-out;
}

/********FIN ANIMATION AU CHARGEMENT DE LA PAGE********/
/****************SECTION DES OSCARS********************/
#oscar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding-top: 120px;
  height: 30em;
}
#oscar .left {
  width: 65%;
  max-width: 800px;
  min-width: 500px;
  background-image: url("../assets/cloud_orange.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5%;
}
#oscar .right {
  width: 20%;
  min-width: 200px;
  margin-top: 45px;
  margin-right: 3%;
}
#oscar::before {
  content: url("../assets/Sunflower.png");
  position: relative;
  width: 171px;
  height: 171px;
  left: 7em;
  top: -5em;
}
#oscar::after {
  content: url("../assets/orchid.png");
  position: relative;
  width: 168px;
  height: 168px;
  left: 4em;
  top: -12em;
}

.orange-cloud {
  padding: 1.4vw 0 0 4vw;
  margin-bottom: 0;
  color: #ffffff;
  font: 700 clamp(23px, 2.8vw, 42px) "Quicksand";
  line-height: 100%;
  letter-spacing: -2%;
  white-space: nowrap;
}

.site-footer::before,
.site-footer::after {
  display: none;
}

/********************FIN DE SECTION DES OSCARS*****************/
/***********************ANIMATION BANNER***********************/
video.video-banner {
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  position: absolute;
  z-index: 1;
}

.logo-foce {
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: absolute;
  animation: float-cloud 5s ease-in-out infinite alternate;
  transform: translate(0);
}

/********************FIN ANIMATION BANNER*********************/
/**********************ANIMATION TITRES***********************/
.multi {
  display: flex;
  white-space: inherit;
  justify-content: center;
  gap: 0.5em;
}
.multi span.uptitle.apparition:last-child {
  animation: appear-title 1.2s ease-in-out;
}

h2 span.uptitle, h3 span.uptitle {
  display: block;
  transform: translateY(1.5em);
  opacity: 0;
}
h2 span.uptitle.apparition, h3 span.uptitle.apparition {
  animation: appear-title 1s ease-in-out;
  opacity: 1;
  transform: translateY(0);
}

/********************FIN ANIMATION TITRES*********************/
/***************************SWIPER****************************/
.story #characters {
  display: block;
  margin: 0;
}

.swiper {
  overflow: visible;
}

.mySwiper {
  width: 850px;
  overflow: visible;
}

.swiper-slide {
  width: 280px;
  height: 200px;
  margin: 0;
}
.swiper-slide img {
  width: 300px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/************************FIN DU SWIPER************************/
/*************************MENU BURGER*************************/
#site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 32%;
  align-items: center;
}
#site-navigation button {
  margin: 0 20px 0 0;
}

.menu-toggle { /*menu burger inactif, mise en forme*/
  width: 48px;
  height: 48px;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  padding: 0;
  display: inline;
}
.menu-toggle .line {
  width: 30px;
  height: 3px;
  background: #111111;
  border-radius: 3px;
  transition: 0.3s ease;
}
.menu-toggle.active { /*menu burger actif, création de la croix*/ }
.menu-toggle.active .line:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}
.menu-toggle.active .line:nth-child(2) {
  opacity: 0;
}
.menu-toggle.active .line:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.banner-menu { /*menu banner déplié, mise en forme, position et animation*/
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  max-width: 1440px;
  padding-top: 100px;
  margin: auto;
  background-image: none;
  background-color: #ffd5a2;
  overflow: hidden;
  transform: translateY(0%);
  transition: transform 0.85s cubic-bezier(0.77, 0, 0.18, 1);
}
.banner-menu.locked { /*menu banner replié*/
  transform: translateY(-100%);
  transition: transform 0.85s cubic-bezier(0.77, 0, 0.18, 1);
}

body.no-scroll { /*Suppression de la barre de scroll*/
  overflow: hidden;
}

/*Mise en forme de la banner-menu dépliée*/
.stretch-banner {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 3vh 0 0 0;
  margin: auto;
  background-color: #fff5e9;
}
.stretch-banner li { /*On enlève les puces*/
  list-style: none;
}
.stretch-banner li a { /*mise en forme du lien, taille du texte, position*/
  display: inline-block;
  position: relative;
  margin-bottom: 0.4em;
  text-decoration: none;
  font-size: 4em;
  text-align: center;
  transition: 0.3s ease;
}
.stretch-banner img { /*Taille de l'image et son ombre*/
  width: 375px;
  margin: auto;
  filter: drop-shadow(0 8px 12px rgba(255, 213, 162, 0.35));
}
.stretch-banner .menu-banner {
  margin: 0 !important;
  padding: 0;
}

a.anchor-link:hover { /*Au survol*/
  text-shadow: 0px 0px 14px rgb(255, 92, 0);
  color: #000000;
}

.banner-footer { /*position du texte en bas de la banner*/
  text-align: center;
  margin-top: 10vh;
}
.banner-footer a { /*Mise en forme du lien*/
  text-decoration: none;
  font-size: 15px;
}
.banner-footer a:hover {
  color: #000000;
}

/* Mise en forme des fleurs et des petits chats*/
a[href="#story"]::before {
  background-image: url("../assets/Sunflower.png");
  width: 155px;
  height: 155px;
  left: 9em;
  top: -2em;
}
a[href="#story"]::after {
  background-image: url("../assets/orchid.png");
  width: 168px;
  height: 168px;
  left: -11.6em;
  top: -4em;
}

a[href="#characters"]::before {
  background-image: url("../assets/flower.png");
  width: 109px;
  height: 109px;
  left: -4.7em;
  top: 1em;
}
a[href="#characters"]::after {
  background-image: url("../assets/random_flower.png");
  width: 75px;
  height: 75px;
  left: 15.45em;
  top: 0.5em;
}

a[href="#place"]::before {
  background-image: url("../assets/black_cat.png");
  width: 155px;
  height: 148px;
  left: 8em;
  top: -0.5em;
}
a[href="#place"]::after {
  background-image: url("../assets/purple_cat.png");
  width: 135px;
  height: 128px;
  right: 8em;
  bottom: 4.5em;
}

a[href="#studio"]::before {
  background-image: url("../assets/hibiscus_footer.png");
  width: 500px;
  height: 500px;
  left: 12.6em;
  top: -0.2em;
}
a[href="#studio"]::after {
  background-image: url("../assets/yellow_cat.png");
  width: 107px;
  height: 97px;
  right: 13em;
  top: 2em;
}

/*Tu me fais tourner la fleur?*/
a[href="#story"]::before, a[href="#story"]::after,
a[href="#characters"]::before, a[href="#characters"]::after,
a[href="#studio"]::before {
  content: "";
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none; /*pas de lien clickable*/
  animation: rotation 20s linear infinite;
  transform-origin: center center; /*centré*/
}

/*Tremblez chatons!*/
a[href="#place"]::before, a[href="#place"]::after,
a[href="#studio"]::after {
  content: "";
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  animation: altern-pivot 2s ease-in-out infinite;
}

/*************************************************************/
/************************MEDIA QUERIES************************/
/*************************************************************/
@media (max-width: 900px) {
  #primary {
    display: block;
  }
  #oscar {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    justify-content: center;
  }
  #oscar::before, #oscar::after {
    display: none;
  }
  #oscar .right {
    width: 200px;
    aspect-ratio: inherit;
    margin: 0;
  }
  #oscar .left {
    background-size: cover;
    margin: 0;
    width: 70%;
    aspect-ratio: 2/0.7;
    text-align: center;
    padding: 2em 3em;
  }
  video.video-banner {
    display: none;
  }
  h3.multi {
    background-position: center;
    justify-content: center;
    padding-left: 1.3em;
  }
}
@media (max-width: 700px) {
  p {
    font-size: 0.8em;
  }
  .logo-foce {
    animation: none;
    transform: none;
  }
  .story #place img.clouds {
    bottom: 200px;
  }
  #site-navigation {
    justify-content: center;
    height: 80px;
  }
  #story,
  #characters {
    padding-top: 2vw;
  }
}
@media (max-width: 500px) {
  .banner-menu li a.anchor-link {
    font-size: clamp(15px, 4em, 45px);
  }
  #oscar {
    height: auto;
  }
  #oscar .left {
    width: 90%;
    min-width: 200px;
    text-align: center;
  }
  #oscar .left p.orange-cloud {
    font-size: clamp(10px, 2em, 20px);
    padding: 0;
    margin-top: 1.5vw;
  }
}
@media (max-width: 400px) {
  #oscar .left p.orange-cloud {
    font-size: 4vw;
  }
}
@media screen and (orientation: landscape) and (max-width: 1200px) {
  .stretch-banner {
    display: flex;
    flex-direction: row;
  }
  .stretch-banner ul {
    font-size: 0.75vw;
    height: 1vw;
  }
  .stretch-banner ul a[href="#story"]::before, .stretch-banner ul a[href="#story"]::after,
  .stretch-banner ul a[href="#characters"]::before, .stretch-banner ul a[href="#characters"]::after,
  .stretch-banner ul a[href="#studio"]::before {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */